@media only screen and (max-aspect-ratio: 1 / 1) {
   * {
      font-size: 1.4em;
   }
}

body {
   display: grid;
   place-content: center;
}

* {
   font-family: 'Roboto', sans-serif;
}

#cont {
   display: flex;
   flex-direction: column;
   width: 95vw;
   height: 95vh;
}

#cont > * {
   margin-bottom: 0.5rem;
   padding: 0.5rem;
}

#header {
   padding-left: 0;
   margin-top: 0;
}

#chat {
   flex-grow: 1;
   border: 1px solid grey;
   overflow-y: scroll;
   padding-top: 0;
}

#chat * {
   margin-top: 1rem;
   word-wrap: break-word;
}

#messageBox hr {
   border: 1px solid grey;
}

#messageBox .headCont {
   width: 100%;
}

#messageBox .message {
   margin-top: 0.25rem;
}